.dark-theme {
	--extra-light: #222;
	--light-bg: #333;
	--light-bg80: rgba(51, 51, 51, 0.8);
	--light-bg0: rgba(51, 51, 51, 0);

	--gray-bg: #444;
	--gray-dark-bg: #555;

	--dark-header: rgba(255, 255, 255, 0.67);
	--dark-desc: rgba(255, 255, 255, 0.3);
	--text-color-dark: #fff;

	--text-color-medium-dark: #ccc;
	--text-color-medium-dark90: rgba(204, 204, 204, 0.9);

	--text-color-light-dark: #bbb;
	--text-color-light-dark50: rgba(187, 187, 187, 0.5);
	--text-color-light-dark60: rgba(187, 187, 187, 0.6);
	--text-color-light-dark70: rgba(187, 187, 187, 0.7);
	--text-color-light-dark90: rgba(187, 187, 187, 0.9);
	--text-color-light-dark0: rgba(187, 187, 187, 0);

	--accent-color: #ff4c2b;
	--accent-color90: rgba(255, 76, 43, 0.9);
	--accent-color70: rgba(255, 76, 43, 0.7);
}

.app-wrapper {
	overflow: hidden;

	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: calc(var(--index) * 11) auto;
}

.left-nav-section {
	display: flex;
	flex-direction: column;
	row-gap: calc(var(--index) * 2);

	height: 100vh;

	padding: calc(var(--index) * 1.1) calc(var(--index) * 1)
		calc(var(--index) * 1.1) calc(var(--index) * 1.2);

	background-color: var(--light-bg);
}

.space-between-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 100%;

	padding: 0 0 calc(var(--index) * 1.5) 0;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	column-gap: 10px;
}

.logo__img {
	width: calc(var(--index) * 1.6);
	height: calc(var(--index) * 1.6);
	border-radius: calc(var(--index) * 1.6);
}
.logo__text {
	font-size: calc(var(--index) * 1);
	font-weight: 500;
	color: var(--text-color-dark);
}

.nav-container {
}

.nav-list {
	display: flex;
	flex-direction: column;
	row-gap: calc(var(--index) * 0.7);

	width: 100%;
}

.group-container {
}

.actions-container {
}

.nav-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-title {
	font-size: calc(var(--index) * 0.54);
	font-weight: 500;
	color: var(--text-color-light-dark60);

	padding: calc(var(--index) * 0.2) 0;
}

.main-nav-item {
	display: flex;
	flex-direction: row;

	width: 100%;

	column-gap: calc(var(--index) * 0.4);
	padding: calc(var(--index) * 0.25) calc(var(--index) * 0.7);
}

/* stroke */
nav ul li a {
	position: relative;
}
nav ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #aaa;
	height: 1px;
}
nav ul li a:hover:after {
	width: 100%;
}

nav ul li a {
	transition: all 0.5s weight 0s;
}

/* nav ul.nav-list-origin li a:after,
nav ul.nav-list-center li a:after {
	text-align: left;
	content: '.';
	margin: 0;
	opacity: 0;
} */
nav ul.nav-list-origin li a:active,
nav ul.nav-list-center li a:active {
	color: #fff;
	z-index: 1;
	opacity: 0.3;
}

/* nav ul.nav-list-center li a:active:after,
nav ul.nav-list-center li a:active:after {
	z-index: -10;
	animation: fill 0.3s forwards;
	-webkit-animation: fill 0.3s forwards;
	-moz-animation: fill 0.3s forwards;
	opacity: 1;
} */

.nav-title-link h3 {
}

.nav-title-link h3 {
	position: relative;
}
.nav-title-link h3:after {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #aaa;
	height: 1px;
}
.nav-title-link h3:hover:after {
	width: 26%;
}

.nav-title-link h3 {
	transition: all 0.5s weight 0s;
}

.nav-title-link h3:active {
	color: #fff;
	z-index: 1;
	opacity: 0.3;
}

.main-nav-item-active {
	display: flex;
	flex-direction: row;

	width: 100%;

	column-gap: calc(var(--index) * 0.4);
	padding: calc(var(--index) * 0.25) calc(var(--index) * 0.7);

	background-color: var(--text-color-light-dark50);
	border-radius: calc(var(--index) * 0.2);

	animation: fadeBackground 0.5s forwards;
}

.nav-list-origin {
	width: 100%;
	padding: 0 calc(var(--index) * 0.2);
}

.nav-list-center {
	width: 100%;
	padding: 0 calc(var(--index) * 1.6);
}

.nav-item {
	display: flex;
	flex-direction: row;

	width: 100%;

	column-gap: calc(var(--index) * 0.4);
	padding: calc(var(--index) * 0.2) 0;
}

.nav-item-regular {
	font-size: calc(var(--index) * 0.72);
	font-weight: 400;
	color: var(--text-color-light-dark90);
}

.active-item {
	font-size: calc(var(--index) * 0.72);
	font-weight: 500;
	color: var(--text-color-dark);
}

.nav-item-medium {
	font-size: calc(var(--index) * 0.72);
	font-weight: 500;
	color: var(--text-color-light-dark90);
}

.main-section {
	display: flex;
	flex-direction: column;

	width: 100%;
	background-color: var(--gray-bg);
}

.main-section__body-wrapper {
	width: 100%;
	padding: calc(var(--index) * 1) calc(var(--index) * 2.5)
		calc(var(--index) * 1.2);
}

.main-section__header {
	z-index: 99;
	width: 100%;
	height: 10vh;

	padding: calc(var(--index) * 1) calc(var(--index) * 2.5);

	background-color: var(--gray-bg);
}

.main-section__body {
	width: 100%;
	height: auto;
}

@keyframes fadeBackground {
	from {
		background-color: transparent;
	}
	50% {
		background-color: var(--text-color-light-dark50);
		transform: scale(1.03);
	}
	to {
		background-color: var(--text-color-light-dark50);
	}
}
