.input-container {
	height: calc(var(--index) * 2.3);
	position: relative;
	width: 100%;
}

.input {
	display: flex;
	justify-content: center;

	background-color: var(--light-bg);
	border-radius: calc(var(--index) * 0.4);
	border: calc(var(--index) * 0.07) solid var(--text-color-light-dark50);

	box-sizing: border-box;
	color: var(--text-color-light-dark90);
	font-size: calc(var(--index) * 0.7);
	height: 100%;
	outline: 0;
	padding: 4px 20px 0;
	width: 100%;
}

.input:focus {
	color: var(--text-color-medium-dark);
	border: calc(var(--index) * 0.07) solid var(--text-color-medium-dark);
}

.cut {
	height: 20px;
	background-color: var(--light-bg);
	left: 20px;
	position: absolute;
	top: -20px;
	transform: translateY(0);
	transition: transform 200ms;
}

.cut-short {
	width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
	transform: translateY(8px);
}

.placeholder {
	color: var(--text-color-light-dark70);
	font-size: calc(var(--index) * 0.7);
	left: calc(var(--index) * 0.75);
	line-height: 14px;
	pointer-events: none;
	position: absolute;
	transform-origin: 0 50%;
	transition: transform 200ms, color 200ms;
	top: calc(var(--index) * 0.85);
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
	transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
	color: var(--text-color-light-dark70);
}

.input:focus ~ .placeholder {
	color: var(--text-color-medium-dark);
}
