.input-container {
	height: calc(var(--index) * 2.3);
	position: relative;
	width: 100%;
}

.input {
	display: flex;
	justify-content: center;

	background-color: var(--light-bg);
	border-radius: calc(var(--index) * 0.4);
	border: calc(var(--index) * 0.07) solid var(--text-color-light-dark50);

	box-sizing: border-box;
	color: var(--text-color-light-dark90);
	font-size: calc(var(--index) * 0.7);
	height: 100%;
	outline: 0;
	padding: calc(var(--index) * 0.1) calc(var(--index) * 0.69) 0;
	width: 100%;
}

.input:focus {
	color: var(--text-color-medium-dark);
	border: calc(var(--index) * 0.07) solid var(--text-color-medium-dark);
}

.cut {
	border-radius: calc(var(--index) * 0.2);
	height: calc(var(--index) * 0.69);
	background-color: var(--light-bg);
	left: calc(var(--index) * 0.69);
	position: absolute;
	top: calc(var(--index) * -0.69);
	transform: translateY(0);
	transition: transform 200ms;
}

.cut-short {
	width: calc(var(--index) * 1.7);
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
	transform: translateY(calc(var(--index) * 0.4));
}

.placeholder {
	color: var(--text-color-light-dark70);
	font-size: calc(var(--index) * 0.7);
	left: calc(var(--index) * 0.75);
	line-height: calc(var(--index) * 0.6);
	pointer-events: none;
	position: absolute;
	transform-origin: 0 50%;
	transition: transform 200ms, color 200ms;
	top: calc(var(--index) * 0.85);
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
	transform: translateY(calc(var(--index) * -1.06))
		translateX(calc(var(--index) * 0.35)) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
	color: var(--text-color-light-dark70);
}

.input:focus ~ .placeholder {
	color: var(--text-color-medium-dark);
}

.password-eye {
	position: absolute;
	top: 33%;
	right: 5%;

	width: calc(var(--index) * 0.9);
	height: calc(var(--index) * 0.9);
}

.password-eye:hover {
	color: var(--accent-color);
}

.password-eye:active {
	top: 34%;
}
