.column-width-type1 {
	width: calc(var(--index) * 4.7);
}

.column-width-type2 {
	width: calc(var(--index) * 11);
}

.column-width-type3 {
	width: calc(var(--index) * 12);
}

.column-width-type4 {
	width: calc(var(--index) * 2);
}

.recipient-item-column {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}

.recipient-item-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.recipient-item-row {
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: center;
}

.recipient-img {
	width: calc(var(--index) * 1.7);
	height: calc(var(--index) * 1.7);

	border-radius: calc(var(--index) * 0.6);
}

.recipient-text-regular {
	color: var(--text-color-dark);
	font-size: calc(var(--index) * 0.63);
	font-weight: 400;
}

.recipient-text-medium {
	color: var(--text-color-dark);
	font-size: calc(var(--index) * 0.63);
	font-weight: 500;
}

.notification-options-list {
	display: flex;
	flex-direction: row;
	column-gap: calc(var(--index) * 0.5);
}

.recipient-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: calc(var(--index) * 3.3);

	padding: calc(var(--index) * 0.1) calc(var(--index) * 0.1);
	border: var(--text-color-medium-dark20) calc(var(--index) * 0.1) solid;
	border-radius: calc(var(--index) * 0.4);
}

.recipient-btn-text {
	color: var(--text-color-medium-dark50);
	font-size: calc(var(--index) * 0.53);
	font-weight: 600;
}
