@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
	/* Light mode */
	--extra-light: #e5e5e5;

	--light-bg: #d2d2d2;
	--light-bg80: rgba(210, 210, 210, 0.8);
	--light-bg0: rgba(210, 210, 210, 0);

	--gray-bg: #c4c4c4;

	--dark-header: rgba(10, 31, 50, 0.67);
	--dark-desc: rgba(10, 31, 50, 0.3);
	--text-color-dark: #0a1f32;

	--text-color-medium-dark: #2d384a;
	--text-color-medium-dark90: rgba(45, 56, 74, 0.9);

	--text-color-light-dark: #344756;
	--text-color-light-dark50: rgba(52, 71, 86, 0.5);
	--text-color-light-dark60: rgba(52, 71, 86, 0.6);
	--text-color-light-dark70: rgba(52, 71, 86, 0.7);
	--text-color-light-dark90: rgba(52, 71, 86, 0.9);
	--text-color-light-dark0: rgba(52, 71, 86, 0);

	--accent-color: #ff4c2b;
	--accent-color90: rgba(255, 76, 43, 0.9);
	--accent-color70: rgba(255, 76, 43, 0.7);

	--index: calc(1vw + 1vh);
}

html,
body {
	min-height: 100vh;
	min-width: 100vw;

	font-family: 'Poppins', sans-serif;
}

#root {
	min-height: 100vh;
	min-width: 100vw;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 100vw;
}

main {
	width: 100%;
}

.wrapper {
	cursor: none;
	background-color: var(--light-bg);
}

.loader-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background-color: var(--light-bg);
	color: var(--text-color-dark);
}

.title-1 {
	text-align: center;
	font-size: 64px;
	font-weight: 600;
	line-height: normal;
}

.title-1 em {
	color: var(--accent-color);
	font-style: normal;
}

.title-2 {
	text-align: center;
	font-size: 48px;
	font-weight: 600;
	line-height: normal;
}

.absolute {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: var(--light-bg);
	z-index: 1;

	cursor: none;
}
