.dashboard-wrapper {
	display: flex;
	flex-direction: column;

	padding: calc(var(--index) * 1) 0;

	width: 100%;
	height: auto;
}

.actions-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: calc(var(--index) * 2);
	row-gap: calc(var(--index) * 2);

	padding: calc(var(--index) * 2) 0;
}

.actions-row__item {
	width: calc(var(--index) * 9.5);
	height: calc(var(--index) * 10);
}

.item-block-type1 {
	position: relative;
	width: 100%;
	height: 100%;

	border: calc(var(--index) * 0.09) var(--dark-desc) dashed;
	border-radius: calc(var(--index) * 0.4);
}

.item-block-type1:hover {
	animation: actionsHover 0.5s forwards;
}

.item-block-type2 {
	position: relative;
	width: 100%;
	height: 100%;

	border-radius: calc(var(--index) * 0.4);
	background-color: var(--light-bg);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;

	border: calc(var(--index) * 0.09) var(--light-bg) solid;
}

.item-block-type2:hover{
	background-color: transparent;
	border: calc(var(--index) * 0.09) var(--dark-desc) dashed;
}

.item-block-type3 {
	position: absolute;
	top: 7%;
	right: 7%;

	width: 100%;
	height: 100%;

	border-radius: calc(var(--index) * 0.4);
	background-color: var(--accent-color);
}

 .item-block-type3::after,
 .item-block-type3::before {
  content: '';
  position: absolute;
  border: 2px solid red;
  left: -20px;
  opacity: 0;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  
}

.item-block-type3::after {
  animation-delay: 0.5s;
}

.item-block-type3:hover::after,
.item-block-type3:hover::before {
	animation: pulse 1.5s linear infinite;
}


@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.tools-img-top-right {
	position: absolute;
	top: 2%;
	right: 2%;

	transition: all 0.5s ease-in-out;
}

.item-block-type1:hover .tools-img-top-right{
	display: none;
	transition: all 0.5s ease-in-out;
}


.tools-center-img1 {
	position: absolute;
	top: 32%;
	left: 20%;

	width: calc(var(--index) * 4.6);
	height: calc(var(--index) * 4.6);
}

.item-block-type2:hover  .tools-center-img1{
	display: none;
	transition: all 0.5s ease-in-out;
}

.tools-center-img2 {
	position: absolute;
	top: 10%;
	left: 18%;

	width: calc(var(--index) * 6);
}

.bell {
	width: calc(var(--index) * 1.5);
	height: calc(var(--index) * 1.5);
}

.groupsImg {
	width: calc(var(--index) * 1.9);
	height: calc(var(--index) * 1.9);
}

.tools-text {
	font-size: calc(var(--index) * 0.8);
	font-weight: 600;
	line-height: calc(var(--index) * 1.2);

	transition: all 0.5s ease-in-out;
}

.item-block-type1:hover .tools-text{
	display: none;
	transition: all 0.5s ease-in-out;
}

 
.item-block-type2:hover  .tools-text{
	display: none;
	transition: all 0.5s ease-in-out;
}

.text-type1 {
	position: absolute;
	top: 25%;
	left: 15%;
}

.text-type2 {
	position: absolute;
	top: 5%;
	left: 15%;
}

.text-type3 {
	position: absolute;
	top: 70%;
	left: 11%;

	width: calc(var(--index) * 7);

	font-size: calc(var(--index) * 0.5);
	font-weight: 500;
	color: var(--light-bg);
	text-align: center;
}

.plus-wrapper {
	position: absolute;
	right: 4%;
	bottom: 4%;

	display: flex;
	justify-content: center;
	align-items: center;

	width: calc(var(--index) * 2);
	height: calc(var(--index) * 2);

	border: calc(var(--index) * 0.1) var(--gray-dark-bg) solid;
	border-radius: calc(var(--index) * 0.3);
}

.item-block-type1:hover .plus-wrapper{
	position: absolute;
	right: 23%;
	bottom:  24%;

	border: calc(var(--index) * 0.2) var(--gray-dark-bg) solid;

	width: calc(var(--index) * 5);
	height: calc(var(--index) * 5);

	transition: all 0.3s ease-in-out;
}

.plus {
	width: calc(var(--index) * 1);
	height: calc(var(--index) * 1);
}

.item-block-type1:hover .plus{
	width: calc(var(--index) * 2);
	height: calc(var(--index) * 2);

	transition: all 0.3s ease-in-out;
}

.user-small {
	width: calc(var(--index) * 1.5);
	height: calc(var(--index) * 1.5);

	border-radius: calc(var(--index) * 5);
}

.item-block-type1:hover .user-small{
	display: none;
	transition: all 0.5s ease-in-out;
}


.user-small1 {
	position: absolute;
	bottom: 4%;
	left: 10%;
}

.user-small2 {
	position: absolute;
	bottom: 4%;
	left: 20%;
}

.user-small3 {
	position: absolute;
	bottom: 4%;
	left: 30%;
}

.user-count {
	position: absolute;
	bottom: 4%;
	left: 40%;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: calc(var(--index) * 0.5);
	font-weight: 600;

	background-color: var(--light-bg);
}

.arrow-wrapper {
	position: absolute;
	bottom: 4%;
	right: 4%;

	display: flex;
	justify-content: center;
	align-items: center;

	width: calc(var(--index) * 2.1);
	height: calc(var(--index) * 1.1);

	background-color: var(--text-color-medium-dark);

	border-radius: calc(var(--index) * 0.55);
}

.item-block-type1:hover .arrow-wrapper{
	position: absolute;
	bottom: 40%;
	right: 32%;

	width: calc(var(--index) * 3.4);
	height: calc(var(--index) * 1.8);

	transition: all 0.3s ease-in-out;
}

.arrow {
	width: calc(var(--index) * 0.8);
}

.item-block-type1:hover .arrow{
	width: calc(var(--index) * 1.2);

	transition: all 0.3s ease-in-out;
}

.open-wrapper {
	position: absolute;
	bottom: 4%;
	right: 4%;

	display: flex;
	justify-content: center;
	align-items: center;

	width: calc(var(--index) * 3);
	height: calc(var(--index) * 1.3);

	font-size: calc(var(--index) * 0.6);
	font-weight: 500;
	color: var(--light-bg);

	background-color: var(--text-color-medium-dark);

	border-radius: calc(var(--index) * 0.55);
}

.item-block-type2:hover  .open-wrapper{
	position: absolute;
	bottom: 40%;
	right: 22%;

	width: calc(var(--index) * 5);
	height: calc(var(--index) * 2);

	font-size: calc(var(--index) * 0.8);

	transition: all 0.3s ease-in-out;
}

.templates-row {
	padding: calc(var(--index) * 2) 0;
}

.templates-row__title {
	font-size: calc(var(--index) * 0.94);
	font-weight: 500;
}

@keyframes actionsHover {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.04);
	}
}

